extends layout

block content
    #doc3.yui-t5
      #bd
        #yui-main
          .yui-b
            .content
              img(src='../static/assets/nadineGoat.jpg', alt='http://www.twitter.com/heyerrrbody', style='width:750px;height:550px;')
        .yui-b
          #secondary
            a(href='http://www.twitter.com/heyerrrbody')
              img#twitter(src='../static/assets/twitter-icon.png', alt='twitter', style='width:50px;height:50px;')
            a(href='https://www.linkedin.com/in/nadinehachouche')
              img#linkedin(src='../static/assets/linkedin.png', alt='linkedin', style='width:60px;height:50px;')
