extends layout

block content
    #map
    h2  Pokemon-Go For The Browser
    p
      button#pokemonButton Find Pokemons!
    #out
    script(src='https://code.jquery.com/jquery-1.9.1.min.js')
    script(type='text/javascript', src='../static/script.js')
    script(src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js')
    script(src='https://api.tiles.mapbox.com/mapbox.js/v2.2.4/mapbox.js')



